# project Relative
tmp/*
!tmp/README.md

public/*/*
!public/assets/*
!public/404/*
!public/403/*

inc/*/*
!inc/*/README.md

tpl/*
!tpl/views/li.list.php
!tpl/views/li.cover.php
!tpl/layouts/default.php

# Personnal files
.vscode
old