# project Relative
tmp/*
!tmp/README.md
!tmp/.htaccess

public/*
public/*/*
!public/404/*
!public/403/*
!public/README.md
!public/sample.config.yaml

inc/*
inc/*/*
!inc/*/README.md
!inc/php/.htaccess

tpl/*
tpl/*/*
!tpl/.htaccess
!tpl/views/li.title.php
!tpl/views/li.cover.php
!tpl/layouts/default.php

params.yaml

# Personnal files
.vscode
old