@font-face {
	font-family: 'helveticaBoldObl';
	src: url('HelveticaNeueLTCom-BdExO.ttf');
}

@font-face {
	font-family: 'helveticaRoman';
	src: url('HelveticaNeueLTCom-Roman.ttf');
}

@font-face {
	font-family: 'helveticaLt';
	src: url('HelveticaNeueLTCom-Lt.ttf');
}

#cv {
	max-width: 800px;
	margin-bottom: 50px;
}

#cv h2 {
	font-size: 18px;
	font-family: HelveticaNeueLTCom-BdExO, 'helveticaBoldObl';
}

#cv > h2 {
	margin: 17px 0 8px 115px;
}

#cv p, #cv a, #cv td, #cv li {
	font-size: 14px;
	font-family: HelveticaNeueLTCom-Roman, 'helveticaRoman';
}

#cv p, #cv td, #cv li, #cv h2, #cv h3 {
	color: black;
}

#cv p {
	margin: 8px;
}

#cv td {
	min-width: 80px;
	padding-bottom: 8px;
}

#cv ul {
	margin: 0;
    padding-left: 20px;
    text-indent: -16px;
	list-style: none;
}

#cv li:before {
    content: "-";
    padding-right: 10px;
}

#cv .entete {
	margin-bottom: 45px;
}

#cv .date, #cv .niveau, #cv .ecole {
	font-family: HelveticaNeueLTCom-Lt, 'helveticaLt';
}

#cv td.date {
	width: 110px;
	padding-right: 10px;
    text-align: right;
}

#cv td.lieu, #cv td.langage{
    padding-right: 10px;
    text-align: center;
    width: 130px;
}

#cv table.troisCol td.details {
	min-width: 170px;
}
#cv table.deuxCol td.details {
	min-width: 230px;
}

#cv td.langage{
	min-width: 100px;
	width: 165px;
}
